*{
    margin: 0;
    padding: 0;
}
.table-box
{
    margin: 50px ;
    border: 10px solid;
  border-color: rgb(15, 139, 255);
}
.account-value{
    font-size:25px;
    font-weight:900;
    color: rgb(15, 139, 255);
    vertical-align: middle;
    text-transform: uppercase;
}

.table-row{
    display: table;
    width: 100%;
    font-family: sans-serif;
    background: transparent;
    padding: 25px 0;
    color: #555;
    font-size: 13px;
    border-bottom: 1px solid #d6d4d4;
}
.table-head{
    background: #eeeeee;
    box-shadow: none;
    color: black;
    font-size:20px;
    font-weight:900;
    text-transform: capitalize;
    border-bottom: 1px solid #807f7f;
}

.table-cell{
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    vertical-align: middle;
    font-size:20px;
    color:rgb(48, 46, 46);
}
.first-cell{
    text-align: left;
    padding-left: 10px;
}
.last-cell{
    text-align: right;
    padding-right: 25px;
}
a{
    text-decoration: none;
    color: #555;
}
.icon{
    margin:10px;
    color:green;
   
    font-size:30px;
}
.dollar-icon{
    margin:10px;
    color:black;
   
    font-size:25px;
}
.todaychange{
    font-size:18px;
    color:rgb(143, 143, 143);
    font-weight:400;
    text-transform: capitalize;

}
.upgradeValue{
color:green;
padding:3px;
}
.degradeValue{
color:red;
padding:3px;
}
.load{
    font-size:25px;
    font-weight:500;
    color: rgb(15, 139, 255);
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
  .table-row {
    font-size: 11px;
  }
}